<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
  
  
      <button class="btn btn-dark">Check Product</button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src=""
          alt="slide1"
          class="d-block w-100 h-50"
          
        />
  
      </div>
      <div class="carousel-item">
        <img src="" alt="slide2" class="d-block w-100 h-30" />
      </div>
      <div class="carousel-item">
        <img src="" alt="slide3" class="d-block w-100 h-30" />
      </div>
  
    </div>
  </div>
   <br> <br>

  