<div class="modal-dialog modal-xl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closePopup()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginUser">
    
                    <div class="mb-3">
                        <label for="username" class="form-label">Username :</label>
                        <input type="text"class="form-control" placeholder="Username" name="username" formControlName="username">
                    </div>
                    <div *ngIf="Username.invalid && Username.touched" class="alert alert-danger">
                        Username est Obligatoire
                    </div>  
    
                    <div class="mb-3">
                        <label for="password" class="form-label">Password :</label>
                        <input type="password" class="form-control"  placeholder="password" name="password" formControlName="password">
                    </div>
                    <div *ngIf="Password.invalid && Password.touched" class="alert alert-danger">
                        Password est Obligatoire
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePopup()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="loginUser.invalid"  (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
