.container{
    margin-top: 10%;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.right{
    margin-left: 10%;
    margin-right: 10%;
}
.one{
    width: 50%;
}
h2{
    text-align: center;
}
img{
    width: 80px;
    height: 80px;
}