nav{
    background-color: rgb(3, 3, 3);
}
a{
    background-color:rgb(250, 1, 1 );
    color: black;
    border-radius: 10% ;
    font-size: large;
    font-weight: bold;
}
.notConnected{
    display: flex;
}