<div class="container-fluid bg-danger">
    <div class="container">
        <div class="row ">
            <div class="col-4">
                <h4 class="text-center">Wold Of Gamers :</h4>
                <p>World Of Gamers, Les spécialistes du Gaming en Tunisie ! Notre gamme de PC Gamer assemblés et testés en Tunisie pour des performances optimales dans vos jeux vidéos préférés avec des prix adaptés à toutes les bourses.</p>
            </div>
            <div class="col-4">
                <a routerLink="/client/home"><img src="assets/logo.jpg" alt=""></a><br>
            </div>
            <div class="col-4">
                <h4 class="text-center">COORDONNÉES :</h4>
                <ul class="list-group ">
                    <li class="list-group-item list-group-item-danger">Mail : louaytrc&#64;gmail.com</li>
                    <li class="list-group-item list-group-item-danger">Téléphone : 27445695</li>
                    <li class="list-group-item list-group-item-danger">Localisation : Ariana</li>
                </ul>
            </div>
        </div>
    </div>
</div>