h1{
    text-align: center;
    margin-bottom: 3%;
}
.container{
    margin-top: 10%;
}
.card{
    width: 300px;
    height: auto;
    margin: auto;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}